---
---
$color-text-main: #000000
$color-text-body: #30353A
$color-text-hover: #FE2D60

$font-fam-titles: "Oswald", sans-serif
$font-fam-body: "Roboto Mono", sans-serif

*
  margin: 0
  padding: 0
  list-style: none
  -webkit-font-smoothing: antialiased

body
  font-family: $font-fam-body
  color: $color-text-main

img
  max-width: 100%

.wrapper
  width: 100%

.container
  width: 100%
  max-width: 1240px
  padding: 0 20px
  box-sizing: border-box
  margin: auto

.container-small
  width: 100%
  padding: 0 20px
  max-width: 1034px
  box-sizing: border-box
  margin: auto

.container-smaller
  width: 100%
  padding: 0 20px
  max-width: 790px
  box-sizing: border-box
  margin: auto

.container-article
  width: 100%
  max-width: 586px
  margin: auto

h1
  font-family: $font-fam-titles
  font-size: 82px
  line-height: 74px
  letter-spacing: -1.38px
  text-transform: uppercase

  @media (max-width: 1004px)
    font-size: 80px
    line-height: 84px
    letter-spacing: -3.52px

  @media (max-width: 520px)
    font-size: 58px
    line-height: 60px
    letter-spacing: -3px

h2
  font-family: $font-fam-titles
  font-size: 52px
  line-height: 50px
  letter-spacing: -1.7px
  text-transform: uppercase
  font-weight: 800

  @media (max-width: 1004px)
    font-size: 40px
    line-height: 44px
    letter-spacing: -0.16px

h3
  font-family: $font-fam-titles
  font-size: 36px
  line-height: 32px
  letter-spacing: -0.76px
  text-transform: uppercase
  font-weight: 800

h4
  font-family: $font-fam-titles
  font-size: 28px
  line-height: 32px
  letter-spacing: -0.6px
  text-transform: uppercase
  font-weight: 800

h5
  text-transform: uppercase
  font-family: $font-fam-titles
  font-size: 24px
  line-height: 24px
  letter-spacing: 0.41px

p
  font-family: $font-fam-body
  font-size: 15px
  line-height: 30px
  letter-spacing: -0.2px
  color: $color-text-body

.body-small
  font-size: 12px
  line-height: 20px
  letter-spacing: -0.24px

.body-large
  font-size: 18px
  line-height: 28px
  letter-spacing: 0.08px

blockquote p
  text-align: center
  font-size: 22px
  color: #212528
  line-height: 36px
  font-weight: 500
  letter-spacing: -0.3px
  font-style: italic

a
  text-decoration: none
  color: $color-text-main
  font-weight: 600

  &.post-category
    text-transform: uppercase
    font-family: $font-fam-body
    font-size: 10px
    letter-spacing: 1.39px
    font-weight: 500
    color: #444

  &:hover
    text-decoration: underline


header
  width: 100%
  padding-top: 40px

  nav,
  .logo-container,
  .social
    width: 100%

  @media (max-width: 760px)
    display: none 

  &.header-home

    .logo-container img
      height: 60px
      margin-top: 40px

  .container
    display: flex
    justify-content: space-between

  nav ul
    display: flex

    li:not(:last-child)
      margin-right: 60px

    li.current a
      position: relative

      &::after
        content: ""
        display: block
        position: absolute
        left: -2px
        width: calc(100% + 4px)
        height: 2px
        background: #000
        margin-top: 2px

    li a
      text-transform: uppercase
      font-family: $font-fam-titles
      font-size: 12px
      letter-spacing: 0.5px
      font-weight: 500
      position: relative

      &:hover
        text-decoration: none

        &::after
          content: ""
          display: block
          position: absolute
          left: -2px
          width: calc(100% + 4px)
          height: 2px
          background: #000
          margin-top: 2px

  .logo-container
    text-align: center

    img
      height: 60px

  ul.social
    display: flex
    justify-content: flex-end

    li:not(:last-child)
      margin-right: 50px

.header-post
  .container
    position: relative
    justify-content: center

  nav
    position: absolute
    left: 0

  nav a
    display: flex
    align-items: center

  nav a::before
    content: ""
    display: block
    width: 20px
    height: 14px
    margin-right: 20px
    background: url(/images/back.svg) center center no-repeat

.header-mobile
  width: 100%
  height: 140px
  display: none
  justify-content: center
  transition: height 200ms

  @media (max-width: 760px)
    display: flex

  &-home::after
    content: ""
    display: block
    width: 100%
    height: 40px
    position: absolute
    top: 140px
    left: 0
    z-index: -1

  .mobile-menu
    width: 100%
    height: 100vh
    position: fixed
    z-index: 100
    top: 0
    left: 0
    background: #FFF
    opacity: 0
    visibility: hidden
    transition: all 200ms
    display: flex
    align-items: center
    justify-content: center

    nav ul li
      text-align: center

      &.current a::after
        content: ""
        display: block
        position: absolute
        left: -2px
        width: calc(100% + 4px)
        height: 3px
        background: #000
        margin-top: 4px

      &:not(:last-child)
        margin-bottom: 50px

      a
        font-family: $font-fam-titles
        font-size: 40px
        letter-spacing: -0.16px
        text-transform: uppercase
        position: relative

  .mobile-nav-trigger
    width: 16px
    height: 16px
    background-image: url(/images/menu.svg)
    position: absolute
    right: 30px
    top: 60px
    cursor: pointer
    z-index: 1000
    transition: all 200ms

  .logo-container
    z-index: 1000

    img
      width: 80px
      margin-top: 40px

  &.expanded
    .mobile-menu
      visibility: visible
      opacity: 1

    .mobile-nav-trigger
      transform: rotateZ(45deg)

  .social
    display: flex
    position: absolute
    bottom: 100px

    li:first-child
      margin-right: 50px


.hero
  background: #F9F9F9
  position: relative

  &::after
    content: ""
    width: 100%
    height: 160px
    display: block
    position: absolute
    background: #F9F9F9
    z-index: -100

.intro-text
  text-align: center
  margin-top: 90px

// POSTS ===================
.posts
  margin-top: 90px

  .container
    display: flex
    flex-direction: column
    align-items: center

  aside
    width: 100%
    max-width: 278px
    margin-left: 30px

    .aside-social
      width: calc(100% - 4px)
      max-width: 278px
      border: 2px solid #000
      margin-top: 40px

      li
        width: 100%
        height: 96px
        padding: 0 32px
        box-sizing: border-box
        position: relative

        &:first-child::after
          content: ""
          width: calc(100% - 48px)
          height: 1px
          position: absolute
          bottom: 0
          left: 24px
          background: #000

        &:last-child::after
          content: ""
          width: calc(100% - 48px)
          height: 1px
          position: absolute
          top: 0
          left: 24px
          background: #000

        a
          display: flex
          align-items: center
          width: 100%
          height: 96px

        img
          width: 24px
          height: 24px
          margin-right: 16px

        span
          font-size: 15px
          letter-spacing: 0

.featured-post
  display: flex
  flex-direction: column
  background: #FFF
  margin-bottom: 120px

  &-info
    padding: 28px 40px 0
    width: 100%
    max-width: 586px
    box-sizing: border-box

  .featured-post-image
    display: block
    width: 100%
    max-width: 584px

    img
      width: 100%
      max-width: 586px

  h3
    margin: 10px 0 24px 0
    max-width: 556px

    a
      font-weight: 700

  .post-excerpt
    line-height: 24px


.posts-list
  width: 100%
  max-width: 790px

  ul
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: 100%
    max-width: 790px

    li img,
      max-width: 380px

    li
      width: 100%
      max-width: 380px
      margin-bottom: 100px

      .post-image
        display: block
        width: 100%

        img
          width: 100%
          height: 252px
          object-fit: cover

    @media (max-width: 520px)
      li img
        height: auto

  .post-info
    padding: 14px 24px 0

    h4
      margin-top: 10px
      margin-bottom: 20px
      max-width: 380px

      a
        font-weight: 700

    p
      max-width: 332px
      line-height: 24px
      max-height: 48px
      overflow: hidden


// ARTICLE ================
.post-content
  display: flex
  flex-direction: column
  align-items: center

article
  margin: 80px 0 40px 0

  .spacer
    width: 100%

    &-120
      height: 120px

  blockquote
    max-width: 480px
    margin: 60px 0

  .article-header
    width: 100%
    max-width: 586px
    margin: auto
    display: flex
    flex-direction: column
    align-items: center

    .post-category
      text-align: center

  h1,
  h4,
  p,
  a
    width: 100%
    max-width: 586px

  h1
    text-align: center
    margin: 26px auto 50px auto

  .body-large
    max-width: 380px

  .article-author
    display: flex
    flex-direction: row
    align-items: center
    margin-bottom: -10px

    p
      line-height: 18px
      margin-left: 16px
      letter-spacing: 0

  h4
    margin-top: 120px
    margin-bottom: 30px
    position: relative
    display: flex
    flex-direction: column
    align-items: center

    &::after
      content: ""
      display: block
      width: 40px
      height: 3px
      background: #000
      margin-top: 10px

  figure
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    margin: 80px 0 80px 0

    &.pair
      justify-content: space-between !important

  .article-share
    width: 100%
    max-width: 586px
    height: 120px
    margin-top: 120px
    display: flex
    align-items: center
    justify-content: center

    p
      max-width: 40px
      margin-top: -8px

    ul
      display: flex

      li:first-child
        margin-right: 80px
        margin-top: 1px

      li a
        display: flex

        span
          font-size: 12px
          letter-spacing: -0.09px
          margin-left: 8px

.article-footer
  width: 100%
  max-width: 586px
  margin: 40px auto 120px auto
  display: flex
  flex-direction: column
  align-items: center

  a
    text-align: center
    font-size: 14px
    margin-top: 60px
