---
---
$color-text-main: #000000
$color-text-hover: #FE2D60

$font-fam-titles: "Oswald", sans-serif
$font-fam-body: "Roboto", sans-serif

*
  margin: 0
  padding: 0
  list-style: none
  -webkit-font-smoothing: antialiased

body
  font-family: "Roboto", sans-serif
  color: $color-text-main

img
  max-width: 100%

.wrapper
  width: 100%

.container
  width: 100%
  max-width: 1240px
  padding: 0 20px
  box-sizing: border-box
  margin: auto

.container-small
  width: 100%
  padding: 0 20px
  max-width: 1036px
  box-sizing: border-box
  margin: auto

.container-article
  width: 100%
  max-width: 586px
  margin: auto

h1
  font-family: $font-fam-titles
  font-size: 82px
  line-height: 82px
  letter-spacing: -3.64px
  text-transform: uppercase

h2
  font-family: $font-fam-titles
  font-size: 52px
  line-height: 52px
  letter-spacing: 0.53px

  @media (max-width: 1004px)
    font-size: 40px
    line-height: 44px
    letter-spacing: -0.16px

h3
  font-family: $font-fam-titles
  font-size: 32px
  line-height: 36px
  letter-spacing: 0.08px

h4
  text-transform: uppercase
  font-family: $font-fam-titles
  font-size: 24px
  line-height: 32px
  letter-spacing: 0.81px

p
  font-family: $font-fam-body
  font-size: 16px
  line-height: 28px
  letter-spacing: 0.11px
  color: #0C0C0C

.body-small
  font-size: 14px
  line-height: 20px
  letter-spacing: 0.27px

.body-large
  font-size: 18px
  line-height: 28px
  letter-spacing: 0.73px

a
  text-decoration: none
  color: $color-text-main
  font-weight: 500

  &.post-category
    text-transform: uppercase
    font-family: $font-fam-body
    font-size: 10px
    letter-spacing: 1.17px
    font-weight: 500
    padding: 4px 6px

    &:hover
      text-decoration: underline


header
  width: 100%
  height: 210px
  background: #000

  nav,
  .logo-container,
  .social
    width: 100%

  @media (max-width: 760px)
    display: none

  &.header-home::after
    content: ""
    display: block
    width: 100%
    height: 80px
    background: #000
    position: absolute
    top: 210px
    left: 0
    z-index: -1

  .container
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 68px

  nav ul
    display: flex

    li:not(:last-child)
      margin-right: 60px

    li.current a
      position: relative

      &::after
        content: ""
        display: block
        position: absolute
        left: -2px
        width: calc(100% + 4px)
        height: 2px
        background: #FFF
        margin-top: 4px

    li a
      color: #FFF
      text-transform: uppercase
      font-family: $font-fam-titles
      font-size: 12px
      letter-spacing: 0.86px
      font-weight: 600

  .logo-container
    text-align: center

  ul.social
    display: flex
    justify-content: flex-end

    li:not(:last-child)
      margin-right: 50px

.header-mobile
  width: 100%
  height: 140px
  background: #000
  display: none
  justify-content: center
  transition: height 200ms

  @media (max-width: 760px)
    display: flex

  &-home::after
    content: ""
    display: block
    width: 100%
    height: 40px
    background: #000
    position: absolute
    top: 140px
    left: 0
    z-index: -1

  .mobile-menu
    width: 100%
    height: 100vh
    position: fixed
    z-index: 100
    top: 0
    left: 0
    background: #000
    opacity: 0
    visibility: hidden
    transition: all 200ms
    display: flex
    align-items: center
    justify-content: center

    nav ul li
      text-align: center

      &.current a::after
        content: ""
        display: block
        position: absolute
        left: -2px
        width: calc(100% + 4px)
        height: 3px
        background: #FFF
        margin-top: 4px

      &:not(:last-child)
        margin-bottom: 50px

      a
        font-family: $font-fam-titles
        font-size: 40px
        letter-spacing: -0.16px
        text-transform: uppercase
        color: #FFF
        position: relative

  .mobile-nav-trigger
    width: 16px
    height: 16px
    background-image: url(/images/menu.svg)
    position: absolute
    right: 30px
    top: 60px
    cursor: pointer
    z-index: 1000
    transition: all 200ms

  .logo-container
    z-index: 1000

    img
      width: 80px
      margin-top: 40px

  &.expanded
    .mobile-menu
      visibility: visible
      opacity: 1

    .mobile-nav-trigger
      transform: rotateZ(45deg)

  .social
    display: flex
    position: absolute
    bottom: 100px

    li:first-child
      margin-right: 50px


// POSTS ===================
.post-date
  opacity: .4

.post-title a:hover,
.category:hover
  color: $color-text-hover

.featured-post
  display: flex
  align-items: center
  background: #FFF

  &-info
    padding: 0 80px

  .featured-post-image
    display: block
    width: 100%
    max-width: 584px

    img
      width: 100%
      max-width: 584px

  h2
    margin: 20px 0
    max-width: 330px

  .post-excerpt
    margin-top: 30px

  @media (max-width: 1240px)
    .featured-post-image
      width: 50%
      max-width: none

      img
        max-width: none

    .featured-post-info
      width: 50%
      padding: 0 55px
      box-sizing: border-box

      p
        font-size: 16px
        letter-spacing: 0.34px

      .post-excerpt
        margin-top: 16px
        line-height: 24px

  @media (max-width: 760px)
    flex-direction: column
    background: none
    margin-top: 0

    .featured-post-image
      width: 100%
      max-width: 584px

    .featured-post-info
      width: 100%
      max-width: 584px
      padding: 20px
      text-align: center

      h2
        max-width: none
        margin: 14px 0 10px 0

.posts-list
  margin: 80px 0

  .container-small
    padding: 0
    max-width: 996px

  h4
    margin-bottom: 80px
    text-align: center

  ul
    display: flex
    justify-content: space-between
    flex-wrap: wrap

    @media (max-width: 1004px)
      justify-content: center

    li img,
    .post-info
      text-align: center
      max-width: 482px

    li
      width: 100%
      max-width: 482px
      margin-bottom: 100px

      .post-image
        display: block
        width: 100%

        img
          width: 100%
          height: 320px
          object-fit: cover

    @media (max-width: 520px)
      li img
        height: 280px !important

  .post-info
    padding: 20px 20px 0px 20px

    h3
      margin-top: 14px

    .post-date
      display: none


// ARTICLE ================
.post-content
  display: flex
  flex-direction: column
  align-items: center

article
  margin: 120px 0

  .spacer
    width: 100%

    &-120
      height: 120px

  h4,
  p,
  a
    width: 100%
    max-width: 586px

  h1
    margin: 20px 0 40px 0
    max-width: 586px

  h4
    margin-top: 120px
    margin-bottom: 40px
    position: relative
    display: flex
    flex-direction: column
    align-items: center

    &::after
      content: ""
      display: block
      width: 40px
      height: 3px
      background: #000
      margin-top: 20px

  figure
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    margin: 80px 0 80px 0

    &.pair
      justify-content: space-between !important

  .article-share
    width: 100%
    max-width: 586px
    height: 120px
    margin-top: 120px
    border-top: 1px solid #EFEFEF
    display: flex
    align-items: center
    justify-content: center

    p
      max-width: 40px
      margin-top: -8px

    ul
      display: flex
      margin-left: 50px

      li:first-child
        margin-right: 30px
        margin-top: 1px
