---
---
$color-text-main: #000000
$color-text-hover: #FE2D60

$font-fam-titles: "Oswald", sans-serif
$font-fam-body: "Roboto", sans-serif

*
  margin: 0
  padding: 0
  list-style: none

body
  font-family: "Roboto", sans-serif
  color: $color-text-main


.wrapper
  width: 100%

.container
  width: 100%
  max-width: 1240px
  padding: 0 20px
  box-sizing: border-box
  margin: auto

.container-small
  width: 100%
  max-width: 996px
  margin: auto

h2
  font-family: $font-fam-titles
  font-size: 52px
  line-height: 52px
  letter-spacing: 0.53px

  @media (max-width: 1004px)
    font-size: 40px
    line-height: 44px
    letter-spacing: -0.16px

h3
  font-family: $font-fam-titles
  font-size: 32px
  line-height: 36px
  letter-spacing: 0.08px

h4
  text-transform: uppercase
  font-family: $font-fam-titles
  font-size: 24px
  line-height: 32px
  letter-spacing: 0.81px

p
  font-family: $font-fam-body
  font-size: 16px
  line-height: 26px
  letter-spacing: 0.24px
  opacity: 0.95

.body-small
  font-size: 14px
  line-height: 20px
  letter-spacing: 0.27px

.body-large
  font-size: 18px
  line-height: 28px
  letter-spacing: 0.73px

a
  text-decoration: none
  color: $color-text-main

  &.post-category
    text-transform: uppercase
    font-family: $font-fam-body
    font-size: 11px
    letter-spacing: 1.28px
    opacity: .8
    font-weight: 500

    &::before
      content: "#"

    &:hover
      text-decoration: underline


header
  width: 100%
  padding: 68px 0
  background: #000

  &.header-home
    height: 252px
    padding: 68px 0 0 0

  .container
    display: flex
    align-items: center
    justify-content: space-between

  nav ul
    display: flex

    li:not(:last-child)
      margin-right: 60px

    li.current a
      position: relative

      &::after
        content: ""
        display: block
        position: absolute
        left: -2px
        width: calc(100% + 4px)
        height: 2px
        background: #FFF
        margin-top: 4px

    li a
      color: #FFF
      text-transform: uppercase
      font-family: $font-fam-titles
      font-size: 12px
      letter-spacing: 0.86px

  ul.social
    display: flex

    li:not(:last-child)
      margin-right: 50px


// POSTS ===================
.post-date
  opacity: .4

.post-title a:hover,
.category:hover
  color: $color-text-hover

.featured-post
  display: flex
  align-items: center
  margin-top: -80px
  background: #FFF

  &-info
    padding: 0 80px

  .featured-post-image
    display: block
    width: 100%
    max-width: 584px

    img
      width: 100%
      max-width: 584px

  h2
    margin: 10px 0
    max-width: 330px

  .post-excerpt
    margin-top: 30px

  @media (max-width: 1240px)
    .featured-post-image
      width: 50%
      max-width: none

      img
        max-width: none

    .featured-post-info
      width: 50%
      padding: 0 55px
      box-sizing: border-box

      p
        font-size: 16px
        letter-spacing: 0.34px

      .post-excerpt
        margin-top: 16px
        line-height: 24px

  @media (max-width: 760px)
    flex-direction: column
    background: none

    .featured-post-image
      width: 100%
      max-width: 584px

    .featured-post-info
      width: 100%
      max-width: 584px
      padding: 20px
      text-align: center

      h2
        max-width: none
        margin: 14px 0 10px 0

.posts-list
  margin: 80px 0

  h4
    margin-bottom: 80px
    text-align: center

  ul
    display: flex
    justify-content: space-between
    flex-wrap: wrap

    @media (max-width: 1004px)
      justify-content: center

    li img,
    .post-info
      text-align: center
      max-width: 482px

    li
      width: 100%
      max-width: 482px
      margin-bottom: 100px

      .post-image
        display: block
        width: 100%

        img
          width: 100%


  .post-info
    padding: 20px 20px 0px 20px

    h3
      margin-top: 14px

    .post-date
      display: none
