---
layout: default
---
<div class="join-maillist-trigger">
  <p>Join the Mk2Swag Community!</p>
</div>

{% include maillist-popup.html %}

<div class="content">
  <div class="hero">
    <header class="header-home">
      <div class="navigation">
        <div class="container">
          {% include navigation.html %}

          <ul class="social">
            <li><a href="https://www.instagram.com/mk2swag/" target="_blank"><img src="/images/instagram.svg" alt="Mk2Swag Instagram"></a></li>
            <li><a href="https://www.facebook.com/mk2swag/" target="_blank"><img src="/images/facebook.svg" alt="Mk2Swag Facebook"></a></li>
          </ul>
        </div>
      </div>

      <div class="container">
        <div class="logo-container">
          <a href="/" class="logo"></a>
        </div>
      </div>
    </header>

    <div class="header-mobile header-mobile-home">
      <span class="mobile-nav-trigger"></span>
      <div class="logo-container">
        <a href="/" class="logo"></a>
      </div>

      <div class="mobile-menu">
        {% include navigation.html %}

        <ul class="social">
          <li><a href="https://www.instagram.com/mk2swag/" target="_blank"><img src="/images/instagram.svg" alt="Mk2Swag Instagram"></a></li>
          <li><a href="https://www.facebook.com/mk2swag/" target="_blank"><img src="/images/facebook.svg" alt="Mk2Swag Facebook"></a></li>
        </ul>
      </div>
    </div>
  </div>

  <section class="posts">
    {% if site.posts.size > 0 %}
      <div class="mobile-join-maillist">
        <h5>Join Mk2Swag</h5>
        <p class="body-small">Click to subscribe</p>
      </div>

      <div class="latest-posts">
        <div class="container-large">
          <ul class="latest-posts-list">
            {% for post in site.posts limit:3 %}
            {% if post.type == 'feature' %}

            <li>
              <a href="{{ post.url | relative_url }}" class="post-link">
                <div class="post-image">
                  <img src="{{ post.image }}" alt="">
                </div>

                {% assign date_format = site.minima.date_format | default: "%Y-%m-%d" %}

                <div class="post-info">
                  <a href="{{ post.url | relative_url }}" class="post-link">
                  <h3 class="post-title">{{ post.title | escape }}</h3>

                  <p class="post-excerpt">{{ post.content | strip_html | truncatewords: 15 }}</p>
                  </a>
                </div>
              </a>
            </li>

            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="posts-list">
        <div class="container">
          <h5>More <br/>Features</h5>
          <ul>
          {% for post in site.posts offset:3 %}
          {% if post.type == 'feature' %}
          <li>
            <a href="{{ post.url | relative_url }}" class="post-image">
              <img src="{{ post.image }}" alt="">
            </a>

            {% assign date_format = site.minima.date_format | default: "%Y-%m-%d" %}

            <div class="post-info">
              <h4 class="post-title">
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
              </h4>

              <p class="post-excerpt">{{ post.content | strip_html | truncatewords: 15 }}</p>

              <div class="post-details">
                <!-- <time>{{ post.date | date: "%Y-%m-%d" }}</time> -->
                <a class="body-small" href="{{ post.url | relative_url }}" class="post-image">Read More</a>
              </div>
            </div>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
        </div>
      </div>
    {% endif %}
  </section>
</div>
