---
layout: default
---

<div class="content">
  <div class="hero">
    <header class="header-home">
      <div class="container">
        {% include navigation.html %}

        <div class="logo-container">
          <a href="/" class="logo"></a>
        </div>

        <ul class="social">
          <li><a href="https://www.instagram.com/mk2swag/" target="_blank"><img src="/images/instagram.svg" alt="Mk2Swag Instagram"></a></li>
          <li><a href="https://www.facebook.com/mk2swag/" target="_blank"><img src="/images/facebook.svg" alt="Mk2Swag Facebook"></a></li>
        </ul>
      </div>
    </header>

    <div class="header-mobile">
      <span class="mobile-nav-trigger"></span>
      <div class="logo-container">
        <a href="/" class="logo"></a>
      </div>

      <div class="mobile-menu">
        {% include navigation.html %}

        <ul class="social">
          <li><a href="https://www.instagram.com/mk2swag/" target="_blank"><img src="/images/instagram.svg" alt="Mk2Swag Instagram"></a></li>
          <li><a href="https://www.facebook.com/mk2swag/" target="_blank"><img src="/images/facebook.svg" alt="Mk2Swag Facebook"></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="intro-text">
    <div class="container">
      <h1>Stories of the best Golfs and Jettas</h1>
    </div>
  </div>

  <section class="posts">
    <div class="container">
      {% if site.posts.size > 0 %}
        <div class="mobile-join-maillist">
          <h5>Join Mk2Swag</h5>
          <p class="body-small">Click to subscribe</p>
        </div>

        <div class="posts-list">
          <ul>
            {% for post in site.posts %}
            <li>
              <a href="{{ post.url | relative_url }}" class="post-image">
                <img src="{{ post.image }}" alt="">
              </a>
              {% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}

              <div class="post-info">
                <h4 class="post-title">
                  <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                </h4>

                {% for category in post.categories %}
                  <a href="#" class="post-category">{{ category }}</a>
                {% endfor %}

                <p class="post-excerpt">{{ post.content | strip_html | truncatewords: 22 }}</p>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </section>
</div>
