---
layout: default
---

<div class="content">
  <div class="header-mobile header-mobile-home">
    <span class="mobile-nav-trigger"></span>
    <a href="/deving/" class="logo-container"><img src="/images/logo.svg" alt="Mk2Swag"></a>

    <div class="mobile-menu">
      {% include navigation.html %}

      <ul class="social">
        <li><a href="https://www.instagram.com/mk2swag/" target="_blank"><img src="/images/instagram.svg" alt="Mk2Swag Instagram"></a></li>
        <li><a href="https://www.facebook.com/mk2swag/" target="_blank"><img src="/images/facebook.svg" alt="Mk2Swag Facebook"></a></li>
      </ul>
    </div>
  </div>

  <header class="header-home">
    <div class="container">

      {% include navigation.html %}

      <div class="logo-container">
        <a href="/deving/" class="logo-container"><img src="/images/logo.svg" alt="Mk2Swag"></a>
      </div>

      <ul class="social">
        <li><a href="https://www.instagram.com/mk2swag/" target="_blank"><img src="/images/instagram.svg" alt="Mk2Swag Instagram"></a></li>
        <li><a href="https://www.facebook.com/mk2swag/" target="_blank"><img src="/images/facebook.svg" alt="Mk2Swag Facebook"></a></li>
      </ul>
    </div>
  </header>

  <section class="posts">
    <div class="container">
      {% if site.posts.size > 0 %}
        {% for post in site.posts limit:1 %}
          <div class="featured-post">
            <a href="{{ post.url | relative_url }}" class="featured-post-image"><img src="{{ post.image }}" alt=""></a>
            {% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}

            <div class="featured-post-info">

              {% for category in post.categories %}
                <a href="#" class="post-category">{{ category }}</a>
              {% endfor %}

              <h2 class="post-title">
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
              </h2>

              <!-- <p class="body-small post-date">{{ post.date | date: date_format}}</p> -->

              <p class="body-large post-excerpt">{{ post.description }}</p>
            </div>
          </div>
        {% endfor %}

        <div class="posts-list">
          <div class="container-small">
            <h4>More Posts</h4>
            <ul>
              {% for post in site.posts offset:1 %}
                <li>
                  <a href="{{ post.url | relative_url }}" class="post-image">
                    <img src="{{ post.image }}" alt="">
                  </a>
                  {% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}

                  <div class="post-info">
                    {% for category in post.categories %}
                      <a href="#" class="post-category">{{ category }}</a>
                    {% endfor %}

                    <h3 class="post-title">
                      <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                    </h3>

                    <p class="body-small post-date">{{ post.date | date: date_format }}</p>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
    </div>
  </section>

</div>
