---
layout: default
---

<div class="content">
  <div class="header-mobile">
    <span class="mobile-nav-trigger"></span>
    <a href="/" class="logo-container"><img src="/images/logo.svg" alt="Mk2Swag"></a>

    <div class="mobile-menu">
      <a href="/">Back</a>
    </div>
  </div>

  <header class="header-home">
    <div class="container">
      {% include navigation.html %}

      <div class="logo-container">
        <a href="/" class="logo-container"><img src="/images/logo.svg" alt="Mk2Swag"></a>
      </div>

      <ul class="social">
        <li><a href="https://www.instagram.com/mk2swag/" target="_blank"><img src="/images/instagram.svg" alt="Mk2Swag Instagram"></a></li>
        <li><a href="https://www.facebook.com/mk2swag/" target="_blank"><img src="/images/facebook.svg" alt="Mk2Swag Facebook"></a></li>
      </ul>
    </div>
  </header>

  <div class="container-small">
    <article>
      <div class="article-header">
        {% for category in page.categories %}
          <a href="#" class="post-category">{{ category }}</a>
        {% endfor %}

        <h1>{{ page.title }}</h1>

        <!-- <p class="body-large">{{ page.description }}</p> -->

        <div class="article-author">
          <img src="{{ page.imagesPath }}author.jpg" width="40">
          <p class="body-small">By <strong>{{ page.authorName }}</strong> <br/> — {{ page.authorRole }}</p>
        </div>
      </div>

      <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
      </div>

      <div class="article-footer">
        <div class="share-buttons">
          <div class="fb-share-button"
            data-href="{{ site.url }}/{{ page.permalink }}"
            data-layout="button_count">
          </div>

          <a class="twitter-share-button"
            href="https://twitter.com/intent/tweet?text=Just%20read%20this%20awesome%20post%20on%20Mk2Swag!">
          Tweet</a>
        </div>
      </div>
    </article>
  </div>

  <div class="back-posts">
    <a href="/">Back to All Posts</a>
  </div>
</div>
