---
layout: default
---

<div class="content">
  <div class="header-mobile">
    <span class="mobile-nav-trigger"></span>
    <a href="/" class="logo-container"><img src="/images/logo.svg" alt="Mk2Swag"></a>

    <div class="mobile-menu">
      {% include navigation.html %}

      <ul class="social">
        <li><a href="https://www.instagram.com/mk2swag/" target="_blank"><img src="/images/instagram.svg" alt="Mk2Swag Instagram"></a></li>
        <li><a href="https://www.facebook.com/mk2swag/" target="_blank"><img src="/images/facebook.svg" alt="Mk2Swag Facebook"></a></li>
      </ul>
    </div>
  </div>

  <header class="header">
    <div class="container">

      {% include navigation.html %}

      <div class="logo-container">
        <a href="/"><img src="/images/logo.svg" alt="Mk2Swag"></a>
      </div>

      <ul class="social">
        <li><a href="https://www.instagram.com/mk2swag/" target="_blank"><img src="/images/instagram.svg" alt="Mk2Swag Instagram"></a></li>
        <li><a href="https://www.facebook.com/mk2swag/" target="_blank"><img src="/images/facebook.svg" alt="Mk2Swag Facebook"></a></li>
      </ul>
    </div>
  </header>

  <div class="container-small">
    <article>
      <div class="post-content e-content" itemprop="articleBody">
        {{ content }}

        <div class="article-share">
          <p class="body-small">Share: </p>
          <ul>
            <li><a href="https://www.instagram.com/mk2swag/" target="_blank"><img src="/images/twitter-dark.svg" alt="Mk2Swag"></a></li>
            <li><a href="https://www.facebook.com/mk2swag/" target="_blank"><img src="/images/facebook-dark.svg" alt="Mk2Swag Facebook"></a></li>
          </ul>
        </div>
      </div>
    </article>
  </div>
</div>
