<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mk2Swag - Coming Soon</title>

  <style media="screen">
    body {
      background: black;
    }

    .wrapper {
      width: 100%;
      height: 100vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <img src="/images/logo.svg" alt="Mk2Swag">
  </div>
</body>
</html>
